@charset "UTF-8";

@import 'https://fonts.googleapis.com/css?family=Raleway';

* {
  font-size: 16px;
}

body {
  background: linear-gradient(#eee, #c9c9c9);
  background-attachment: fixed;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 8em 0;
}

.text-box {
  text-align: center;
  background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/autumn-river-lights-jessica-jenney.jpg");
  background-size: cover;
  width: auto;
  height: 400px;
}

.hover {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  width: 60%;
  transition: transform 300ms ease-in-out;
  transition: 600ms ease-in-out;
}

.text-box h1 {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  color: #f2f2f2;
  display: block;
  padding: 1em;
}

.hover:hover {
  background: rgba(51,51,51,0.8);
  transform: scale(1.1, 1.1);
  border: 2px #eee solid;
}